{% extends "cloudstack/base.html" %}
{% load mathfilters %}

{% block header %}
   <h1>Account VMs - {{ account|lower }}</h1>
{% endblock header %}

{% block content %}
{% if total %}
 <table width=100%>
        <tr>
          <th>
             VM Name
          </th>
          <th>
             VM State
          </th>
          <th>
             Created
          </th>
          <th>
             IP
          </th>
       </tr>
    {% for VM in VMs_list %}
        <tr>
           <th>
             <a href="{% url 'cloudstack:VM' domainid account VM.id %}">{{ VM.displayname|lower }}</a>
           </th>
           <td>
             {{ VM.state }} 
           </td>
          <td>
             {{ VM.created }}
         </td>
         <td>
             {{ VM.nic.0.ipaddress }}
         </td>
     </tr>
    {% endfor %}
 </table>
{% else %}
    <p>There are no VMs in this account.</p>
{% endif %}

<h5><a href="{% url 'cloudstack:domains' %}">Back to Domains</a></h5>
{% endblock content %}
