{% extends "cloudstack/base.html" %}
{% load bootstrap3 %}

{% block header %}
   <h1>Domain Accounts ( {{ total }} )</h1> 
   <h5><a href='{% url 'cloudstack:listVMs' domain_id %}'>View all domain VMs</a></h5>
{% endblock header %}

{% block content %}

{% if total %}
 <table width=70%>
        <tr>
           <th>
             Account Name
           </th>
           <th>
             Account State
           </th>
          <th>
             Total VMs
          </th>
       </tr>
    {% for account in accounts_list %}
        <tr>
           {% if account.vmtotal %}
           <th>
             <a href="{% url 'cloudstack:account' domain_id account.name %}">{{ account.name|lower }}</a>
           </th>
           {% else %}
           <th>
             {{ account.name|lower }}
           </th>
           {% endif %}
           <td>
             {{ account.state }}
           </td>
          <td>
             {{ account.vmtotal }}
         </td>
     </tr>
    {% endfor %}
 </table>
{% else %}
    <p>There are no accounts.</p>
{% endif %}

<h5><a href="{% url 'cloudstack:domains' %}">Back to Domains</a></h5>
{% endblock content %}
