{% extends "cloudstack/base.html" %}

{% block header %}
   <h1>Cloudstack Domains</h1>
{% endblock header %}


{% block content %}
{% if total %}
    <ul>
    {% for domain in domains_list %}
        <li>
	<h3>
	     <a href="{% url 'cloudstack:domain' domain.id %}">{{ domain.name|lower }}</a>
        </h3>
	</li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no domains.</p>
{% endif %} 

{% endblock content %}
