{% extends "cloudstack/base.html" %}

{% block header %}
 <div class='jumbotron'>
  <h1>Track VMs on Cloudstack</h1>
 </div>
{% endblock header %}

{% block content %}
	<h2> Welcome to the Cloudstack Query Manager</h2>
	<!--h2>
	 <a href="{% url 'users:register' %}">Register an account</a> to make cloudstack queries!
	</h2-->
	<h3> <a href="{% url 'users:login' %}">Log in to make queries</a> <h3>
{% endblock content %}
