{% extends "cloudstack/base.html" %}
{% load mathfilters %}

{% block header %}
   <h1>New VMs - {{ total }} (one month)</h1>
{% endblock header %}

{% block content %}
{% if total %}
 <table width=100%>
        <tr>
          <th>
             VM Name
          </th>
          <th>
             Account
          </th>
          <th>
             VM State
          </th>
          <th>
             Created
          </th>
          <th>
             IP
          </th>
       </tr>
    {% for VM in latest_list %}
        <tr>
           <td>
             <b><a href="{% url 'cloudstack:VM' VM.domainid VM.account VM.id %}">{{ VM.displayname|lower }}</a></b>
           </td>
           <td>
             {{ VM.account }}
           </td>
           <td>
             {{ VM.state }} 
           </td>
          <td>
             {{ VM.created }}
         </td>
         <td>
             {{ VM.nic.0.ipaddress }}
         </td>
     </tr>
    {% endfor %}
 </table>
{% else %}
    <p>There are no new VMs this month.</p>
{% endif %}

<h5><a href="{% url 'cloudstack:domains' %}">Back to Domains</a></h5>
{% endblock content %}
