{% extends "cloudstack/base.html" %}

{% load bootstrap3 %}

{% block header %}
 <h3> Search </h3>
{% endblock header %}


{% block content %}

<form method="post" action="{% url 'cloudstack:search_form' %}" class="form">
{% csrf_token %}
{% bootstrap_form form %}

{% buttons %}
  <button name="submit" class="btn btn-primary">Search</button>
{% endbuttons %}

</form>

{% endblock content %}
