{% extends "cloudstack/base.html" %}
{% load mathfilters %}

{% block header %}
   <h1>VM Details - {{ virtual_machine.displayname|lower }}</h1>
{% endblock header %}

{% block content %}

 <table width=100%>
        <tr>
          <th>
            Memory
          </th>
          <th>
             vCPUs
          </th>
          <th>
             OS
          </th>
          <th>
             IP
          </th>
          <th>
             Extra IPs
          </th>
          <th>
             Disk
          </th>
       </tr>
        <tr>
           <td>
             {{ virtual_machine.memory|div:1024 }} GB
           </td>
           <td>
             {{ virtual_machine.cpunumber }} 
           </td>
          <td>
             {{ virtual_machine.templatename }}
         </td>
          <td>
             {{ virtual_machine.nic.0.ipaddress }}
         </td>
          <td>
             {{ virtual_machine.nic.0.secondaryip|length }}
         </td>
          <td>
          {% for volume in volumes_list %}
	  
	  {% ifequal "ROOT" volume.type %}
            ROOT - {{ volume.size|div:1073741824 }} GB
	  {% else %}
	    DATA - {{ volume.size|div:1073741824 }} GB 
         {% endifequal %}
         ||
	 {% endfor %}
         </td>
     </tr>
 </table>

<h5><a href="{% url 'cloudstack:domains' %}">Back to Domains</a></h5>
{% endblock content %}
