{% extends "cloudstack/base.html" %}

{% load bootstrap3 %}

{% block header %}
 <h2> Log in to your account. </h2>
{% endblock header %}


{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'users:login' %}" class="form">
{% csrf_token %}
{% bootstrap_form form %}

{% buttons %}
  <button name="submit" class="btn btn-primary">Log In</button>
{% endbuttons %}

  <input type="hidden" name="next" value="{% url 'cloudstack:index' %}" />
</form>

{% endblock content %}




