{% extends "cloudstack/base.html" %}

{% load bootstrap3 %}

{% block header %}
 <h2> Register your account. </h2>
{% endblock header %}


{% block content %}


<form method="post" action="{% url 'users:register' %}" class="form">
{% csrf_token %}
{% bootstrap_form form %}

{% buttons %}
  <button name="submit" class="btn btn-primary">Register</button>
{% endbuttons %}

  <input type="hidden" name="next" value="{% url 'cloudstack:index' %}" />
</form>

{% endblock content %}











